.landing-page{
    $root: &;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    @include SP{
        background: url(../image/lp-bg-sp.jpg) no-repeat center/cover;
    }
    @include PC{
        justify-content: space-between;
        background: url(../image/lp-bg.jpg) no-repeat center/cover;
    }
    &__header{
        width: 100%;
        @include SP{
            position: relative;
            text-align: center;
            padding-top: 1.5rem;
        }
        @include PC{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: percentage(40/1920) percentage(64/1920) 0;
        }
        &-back{
            @include PC{
                width: percentage(355/1920);
                transition: 0.3s all ease;
                &:hover{
                    opacity: 0.8;
                }
            }
            @include SP{
                width: 40%;
                position: absolute;
                left: 0.4rem;
                top: 0.4rem;
            }
        }
        &-logo{
            @include PC{
                width: percentage(223/1920);
            }
            @include SP{
                width: 40%;
            }
        }
        &-facebook{
            @include PC{
                width: percentage(355/1920);
                transition: 0.3s all ease;
                &:hover{
                    opacity: 0.8;
                }
            }
            @include SP{
                width: 40%;
                position: absolute;
                right: 0.4rem;
                top: 0.4rem;
            }
        }
    }
    &__body{
        width: 100%;
        padding: 0 0.4rem;
        text-align: center;
       
      
        @include PC{
            height: 45vh;
            margin-top: 0.5rem;
        }
        @include SP{
            height: 30vh;
            margin-top: 0.8rem;
            @include landscape{
                margin-top: 0.5rem;
                height: 50vw;
                margin-bottom: 10vw;
            }
        }
        img{
            max-height: 100%;
            width: auto;
            transition: 0.3s all ease;
        }
        a{
            &:hover{
                img{
                    transform: scale(1.02);
                }
            }
        }
    }
    &__footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include PC{
            margin-top: 4vw;
        }
        &-cow{
            position: absolute;
            bottom: 0;
            left: 0;
            @include PC{
                width: percentage(240/1920);
            }
            @include SP{
                width: 25%;
            }
        }
        &-bel{
            @include PC{
                width: 16%;
                margin-bottom: 30px;
            }
            @include SP{
                width: 25%;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
        
        .copyright{
            text-align: center;
            @include PC{
                font-size: 16px;
            }
            @include SP{
                font-size: 0.16rem;
            }
            p{
                @include font-Quicksand-Bold;
            }
            small{
                @include font-Quicksand-Medium;
                line-height: 1.3;
                
                display: block;
                white-space: nowrap;
                @include PC{
                    padding-bottom: 1em;
                    margin-top: 0.5em;
                }
                @include SP{
                    margin-top: 1em;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}