.promotion{
    background: url(../image/pr-bg.jpg) repeat-y top center/ 100% auto;
    overflow: hidden;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include PC{
            padding: 0.2rem 0.9rem ;
            background:url(../image/header-bg1.svg) repeat-x top center/1.25rem auto,
            url(../image/header-bg2.svg) repeat-x bottom center/0.28rem auto,white;
        }
        @include SP{
            padding: 0.1rem 0.4rem 0.07rem;
            background:url(../image/header-bg1.svg) repeat-x top center/0.42rem auto,
            url(../image/header-bg2.svg) repeat-x bottom center/0.12rem auto,white;
        }
        
        &-back{
            @include PC{
                width: percentage(355/1920);
                transition: 0.3s all ease;
                &:hover{
                    opacity: 0.8;
                }
            }
            @include SP{
                width:20%;
            }
        }
        &-logo{
            @include PC{
                width: percentage(210/1920);
                margin-top: 10px;
            }
            @include SP{
                width:12%;
            }
        }
        &-facebook{
            @include PC{
                width: percentage(355/1920);
                transition: 0.3s all ease;
                &:hover{
                    opacity: 0.8;
                }
            }
            @include SP{
                width:20%;
            }
        }
    }
    &-kv{
      
    }
    &__body{
        margin-top: -2px;
        position: relative;
        z-index: 2;
        @include SP{
            padding:0.4rem 0.8rem 0.43rem;
        }
        @include PC{
            padding: 0.8rem 2.55rem 0.42rem;
        }
        &-heading{
            @include font-MonstroSolid;
            color: white;
            text-align: center;
            margin-bottom: 1em;
            @include PC{
                font-size: 4.3vw;
                margin-bottom: 0.5rem
            }
            @include SP{
                font-size: 5.2vw;
            }
        }
        &-inner{
            @include font-Quicksand-Medium;
            color: #020202;
            line-height: 1.5;
            background: url(../image/paper-bg.png) repeat-y top center/ 100% auto;
            box-shadow: 4px 10px 20px rgba(#020202,0.8);
            @include PC{
                padding: 1px 1.5rem 2rem;
                font-size: 21px;
            }
            @include SP{
                padding: 1px 0.6rem 1rem;
                font-size: 0.2rem;
            }
            ul{
                li{
                    padding-left: 0.8em;
                    position: relative;
                    &:before{
                        content:'-';
                        position: absolute;
                        left: 0;
                        top: 0;
                        
                    }
                    ul{
                        li{
                            padding-left: 0.8em;
                            position: relative;
                            &:before{
                                content:'+';
                                position: absolute;
                                left: 0;
                                top: 0;
                                
                            }
                        }
                    }
                }
            }
            img{
                margin-left: auto;
                margin-right: auto;
                display: block;
                @include SP{
                    width: 50%;
                }
                &.full-img{
                    width: 100%
                }
            }
        }
        &-title{
            @include font-MonstroSolid;
            color: #ed2024;
            text-align: center;
            position: relative;
            
            @include PC{
                font-size: 4.1vw;
                margin-top: 0.6rem;
                padding-bottom: 0.76rem;
            }
            @include SP{
                font-size: 4.8vw;
                margin-top: 0.55rem;
                padding-bottom: 0.3rem;
            }
            &::after{
                content:'- - - - - - - -';
                @include font-MonstroSolid;
                color: #1c4f9e;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                @include PC{
                    font-size: 5.2vw
                }
            }
        }
        &-subtitle{
            @include font-MonstroSolid;
            color: #ed2024;
            position: relative;
            
            @include PC{
                font-size: 2.15vw;
                margin-top: 0.5rem;
                text-align: center;
                padding-bottom: 0.5rem;
            }
            @include SP{
                font-size:4vw;
                margin-top: 0.1rem;
                padding-bottom: 0.2rem;
            }
        }
    }
    &__footer{
        position: relative;
        display: flex;
        justify-content: center;
        &-flag{
            justify-self: center;
            margin-left: auto;
            margin-right: auto;
            @include PC{
                width:34%;
            }
            @include SP{
                width: 34%;
            }
        }
        &-cow{
            position: absolute;
            bottom: 0;
            left: 0;
            @include PC{
                width: 15.5%;
                left: -1%;
            }
            @include SP{
                width: 15%;
            }
        }
        &-bel{
            margin-bottom: 0.5rem;
            @include PC{
                width: 23.4375%;
                margin-top: 0.35rem;
                margin-bottom: 0.3rem;
            }
            @include SP{
                width: 14%;
                margin-bottom: 0.1rem;
                margin-top: 0.36rem;
            }
        }
        &-diamond{
            margin-top: auto;
            position: absolute;
            bottom: 0;
            right: 0;
            @include PC{
                width: 19%;
                right: 2.5%;
            }
            @include SP{
                width: 20%;
                right: 2.4%;
            }
        }
        
.copyright{
text-align: center;
    @include PC{
        font-size: 19px;
    }
    @include SP{
        font-size: 0.16rem;
    }
    p{
        @include font-Quicksand-Bold;
    }
    small{
        @include font-Quicksand-Medium;
        line-height: 1.3;
        margin-top: 1em;
        display: block;
        white-space: nowrap;
        @include PC{
            margin-bottom: 3em;
        }
        @include SP{
            margin-bottom: 0.32rem;
        }
    }
}
    }
    
}
.totop{
    position: fixed;
    right: 0.1rem;
    bottom: 1.5rem;
    display: block;
    z-index: 999;
    cursor: pointer;
    @include PC{
        width: 1rem;
        height: 1rem;
        transition: 0.3s all ease;
        &:hover{
            opacity: 0.8;
        }
    }
    @include SP{
        width: 0.8rem;
        height: 0.8rem;
    }

}